body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #F9FBFC;
}

label {
  font-size: 1.2em !important;
}

.clickable, .closeIcon, .dispo {
  cursor: pointer;
}

.dark-mode {
  background: #191818;
  color: #fcfcfc;
}

input.dark-mode {
  color: #fcfcfc;
}

select.dark-mode {
  color: #fcfcfc;
}

li.collection-item {
  font-size: 20px;
  
}

li.collection-item.addNew {
  background-color: rgb(218, 218, 218);
  color: #343434;
}

li.collection-item:active {
  background-color: #bebebe;
}

strike {
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}

.required {
  border: 2px solid red;
}