<template name="headerBar">
  <ul id="drop-manage" class="dropdown-content">
    
  </ul>
    <nav>
        <div class="nav-wrapper blue darken-4">
          <a href="#" class="brand-logo center" id="brandLogo">Open Acctbility</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {{#if currentUser}}
              {{#if isInRole 'system-admin,admin,user'}}
              <li><a href="#" id="myTime" class="navBtn">My Time</a></li>
              {{/if}}
              {{#if isInRole 'system-admin'}}
                <li><a href="#" id="settings" class="navBtn">System Settings</a></li>
                <li><a href="#" id="reports" class="navBtn">Reports</a></li>
              {{/if}}

              {{#if isInRole 'system-admin,admin'}}

              {{/if}}
              <li class="signOut"><a href="#" class="signOut">Log Out</a></li>
            {{else}}
              <li><a href="#!" id="login" class="navBtn">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        {{#if currentUser}}
        {{#if isInRole 'system-admin,admin,user'}}
        <li><a href="#!" id="myTime" class="navBtn">My Time</a></li>
        {{/if}}
        {{#if isInRole 'system-admin'}}
          <li><a href="#!" id="settings" class="navBtn">System Settings</a></li>
          <li><a href="#!" id="reports" class="navBtn">Reports</a></li>
        {{/if}}
        
        {{#if isInRole 'system-admin,admin'}}

        {{/if}}
        <li><a href="#!" class="signOut">Sign Out</a></li>
        {{else}}
          <li><a href="#!" id="login" class="navBtn">Login</a></li>
        {{/if}}
      </ul>
</template>
