<template name="settings">
    <h3>Settings</h3>
    <div class="row">
        <div class="col s12 m12 l6">
            {{> addTagsCard}}
        </div>
        <div class="col s12 m12 l6">
            {{> addClientsCard}}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            {{> mileageSettingsCard}}
        </div>
        <div class="col s12 m12 l6">
            {{> allowContinueCard}}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            {{> allowAutoupdateCard}}
        </div>
    </div>
    {{> snackbar}}
</template>
