<template name="userMgmt">
    {{#if isInRole 'systemadmin'}}
        <h3>User Management</h3>
        <div class="row">
            <div class="col s12 m12 l12">
                <table class="striped highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userInfo}}
                            <tr>
                                <td>{{userName}}</td>
                                <td>{{userEmail}}</td>
                                <td>{{userRole}}</td>
                                <td>
                                    <div class="input-field">
                                        <i class="material-icons clickable deleteUser">delete</i>
                                        <i class="material-icons clickable editUser">edit</i>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/if}}
</template>