<template name="myTime">
    <br>
    <div class="row">
        <div class="col s12">
            {{#if $neq currCard true}}
                <a class="waves-effect waves-light btn green" id="startMyTime">Start Time</a>
            {{else}}
                <a class="waves-effect waves-light btn orange" id="endMyTime">End Time</a>
            {{/if}}
        </div>
    </div>
    {{#if $eq currCard true}}
        {{> currentTime}}
    {{/if}}
    <hr>
    {{#each taskDates}}
        <div class="row">
            <div class="col s12">
                <div class="card grey lighten-4">
                    <div class="card-content">
                        <span class="card-title">{{taskMonthName}}
                            {{taskDay}}</span>
                        <ul class="collapsible popout">
                            {{#each histLen}}
                                {{> historicalTime}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    {{> snackbar}}
</template>
