<template name="editModal">
    <div id="editModal" class="modal">
        <div class="modal-content">
            <h4>Edit {{modalTitle}}</h4>
            <div class="row">
                <div class="col s12 input-field">
                    <input type="text" class="editModalField" id="editModalField" value="{{modalVal}}" />
                    <label for="editModalField">New Value</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>
                        <input type="checkbox" id="updateTasks" />
                        <span>Update Tasks <i class="material-icons tooltipped" data-position="top" data-tooltip="When checked, tasks containing the value will be updated as well.">info</i></span>
                      </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6 m6 l6">
                    <a class="modal-close waves-effect waves-light btn left cancelModalEdit orange" id="cancelModalEdit">Cancel</a>
                </div>
                <div class="col s6 m6 l6">
                    <a class="waves-effect waves-light btn updateModalEdit green right" id="updateModalEdit">Update Value</a>
                </div>
            </div>
        </div>
    </div>
    {{> snackbar}}
</template>