<template name="addClientsCard">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Clients</span>
            <hr>
            <div class="chips clients-placeholder input-field" id="clients">
            </div>
            {{#each clients}}
            <div class="chip">
                {{info}}
            </div>
            {{/each}}
        </div>
        <div class="card-action">
            <a href="" id="cancelAddClients">Cancel</a>
            <a href="" id="editClients">Edit Client Names</a>
            <a href="" id="saveClients">Save</a>
        </div>
    </div>
</template>