<template name="addTagsCard">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Tags</span>
            <hr>
            <div class="chips tags-placeholder input-field" id="tags">
            </div>
            {{#each tags}}
                <div class="chip">
                    {{info}}
                </div>
            {{/each}}
        </div>
        <div class="card-action">
            <a href="" id="cancelAddTags">Cancel</a>
            <a href="" id="editTags">Edit Tags</a>
            <a href="" id="saveTags">Save</a>
        </div>
    </div>
</template>