<template name="allowContinueCard">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Continue Tasks</span>
            <hr>
            <div class="row">
                <div class="col s12">
                    <div class="switch">     
                        <label>
                          Allow Continuation of Ended task
                          <input type="checkbox" id="allowContinue" checked="{{allowCont}}" />
                          <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>