<template name="allowAutoupdateCard">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Autoupdate</span>
            <hr>
            <div class="row">
                <div class="col s12">
                    <div class="switch">     
                        <label>
                          Autoupdate Date / Times to Avoid Negative Time Conflicts
                          <input type="checkbox" id="autoUpdateDateTime" checked="{{autoUpdateDT}}" />
                          <span class="lever"></span>
                        </label>
                    </div>
                </div>
                <div class="col s12">
                    <p>When set 'On', this setting will auto-update dates and times to the same value as any manually set date and / or time that would otherwise cause a time calculation to produce a negative number.</p>
                </div>
            </div>
        </div>
    </div>
</template>