<template name="mileageSettingsCard">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Mileage</span>
            <hr>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="switch">     
                        <label>
                          Allow Milage
                          <input type="checkbox" id="allowMilage" checked="{{allowMiles}}" />
                          <span class="lever"></span>
                        </label>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="switch">
                        <label>
                            Require Milage
                            <input type="checkbox" id="reqMilage" checked="{{reqMiles}}" />
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>