<template name="currentTime">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    {{#if $eq addEditClient true}}
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <select name="clientName" id="clientName" class="clientName">
                                    <option value="" selected disabled></option>
                                    {{#each clients}}
                                        <option value="{{info}}">{{info}}</option>
                                    {{/each}}
                                </select>
                                <label for="clientName">Client</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <a class="waves-effect waves-light btn saveLiveClient" id="saveLiveClient">Save</a>
                        </div>
                    </div>  
                    {{else}}
                        <div class="card-title">{{taskStarted.client}}</div>
                    {{/if}}
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12">
                                    <table class="highlight striped responsive-table">
                                        <thead>
                                            <tr>
                                                <th>Start Date / Time</th>
                                                <th>End Date / Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each taskStarted.taskTimes}}
                                                <tr data-target="adjustTimeModal" class="modal-trigger">
                                                    <td>{{startedTime}}</td>
                                                    <td>{{endedTime}}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 grey lighten-2">
                            <label class="black-text">Notes</label>
                            {{#if $eq addEditNotes true}}
                                <div class="row">
                                    <div class="col s12">
                                        <textarea name="addEditNoteInfo" id="addEditNoteInfo" class="materialize-textarea addEditNoteInfo" value="{{taskStarted.notes}}"></textarea>
                                    </div>
                                    <div class="col s12">
                                        <a class="waves-effect waves-light btn saveLiveNotes" id="saveLiveNotes">Save</a>
                                    </div>
                                </div>
                                
                            {{else}}
                                <p class="flow-text noteView">{{taskStarted.notes}}</p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {{#if $eq addEditTags true}}
                                <div class="chips tags-placeholder tags-autocomplete input-field white-text" id="taskTags">
                                </div>
                                <a class="waves-effect waves-light btn saveLiveTags" id="saveLiveTags">Save Tags</a>
                            {{else}}
                                <label>Tags</label><br>
                                {{#each taskStarted.tags}}
                                    <div class="chip blue darken-4 white-text">
                                        <i class="removeLiveChip close material-icons">close</i>
                                        {{tag}}</div>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                    {{#if $eq allowMile true}}
                        {{#if $eq enterMileage true}}
                            <div class="row">
                                <div class="col s12 m6 l6 input-field">
                                    <input type="number" class="startingMileage" id="startingMileage" value="{{liveStartMiles}}" />
                                    <label for="startingMileage">Starting Mileage</label>
                                </div>
                                <div class="col s12 m6 l6 input-field">
                                    <input type="number" class="endingMileage" id="endingMileage" />
                                    <label for="endingMileage">Ending Mileage</label>
                                </div>
                                <div class="col s12">
                                    <a class="waves-effect waves-light btn saveLiveMileage" id="saveLiveMileage">Save Mileage</a>
                                </div>
                            </div>
                        {{else}}
                            <div class="row">
                                <div class="col s12">
                                    <label>Mileage</label>
                                    <table class="highlight striped responsive-table">
                                        <thead>
                                            <tr>
                                                <th>Start</th>
                                                <th>End</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each taskStarted.mileage}}
                                            <tr>
                                                <td>{{startMiles}}</td>
                                                <td>{{endMiles}}</td>
                                                <td>{{totalMiles}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
                <div class="card-action">
                    <a href="#" id="liveNotes">Notes</a>
                    <a href="#" id="liveTags">Tags</a>
                    <a href="#" id="liveClient">Client</a>
                    {{#if $eq allowMile true}}
                        <a href="#" id="liveMileage">Mileage</a>
                    {{/if}}
                </div>
              </div>
        </div>
    </div>
    {{> adjustTimeModal}}
</template>