<template name="historicalTime">   
    <li>
        <div class="collapsible-header">
            {{#if client}}
            <h5>{{client}}</h5>
            {{else}}
            <h5>No Client Listed</h5>
            {{/if}}
            <span class="right">
                {{#each tags}}
                    <div class="chip blue darken-2 white-text">{{tag}}</div>
                {{/each}}
            </span>
        </div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-content">
                            {{#if $eq editHistClient true}}
                            <div class="row">
                                <div class="col s12">
                                    <select name="histClientList" id="{{_id}}" class="histClientList">
                                        <option value="" disabled selected></option>
                                        {{#each clients}}
                                            <option value="{{info}}">{{info}}</option>
                                        {{/each}}
                                    </select>
                                    <label for="{{_id}}">Client</label>
                                </div>
                                <div class="col s12">
                                    <a class="waves-effect waves-light btn saveHistClient">Save</a>
                                </div>
                            </div>
                            {{else}}
                                <span class="card-title">{{client}}</span>
                            {{/if}}
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="col s12">
                                            <table class="highlight striped responsive-table">
                                                <thead>
                                                    <tr>
                                                        <th>Start Time</th>
                                                        <th>End Time</th>
                                                        <th>Total Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each taskTimes}}
                                                    <tr data-target="adjustTimeModal" class="historicalTimeListing modal-trigger" id="{{_id}}">
                                                        <td>{{startedTime}}</td>
                                                        <td>{{endedTime}}</td>
                                                        <td>{{totalTime}}</td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <div class="col s12 grey lighten-2">
                                <label class="black-text">Notes</label>
                                {{#if $eq addEditHistNotes true}}
                                <div class="row">
                                    <div class="col s12">
                                        <textarea name="addEditHistNoteInfo" id="{{_id}}" class="materialize-textarea addEditHistNoteInfo" value="{{notes}}"></textarea>
                                    </div>
                                    <div class="col s12">
                                        <a class="waves-effect waves-light btn saveHistNotes">Save</a>
                                    </div>
                                </div>
                                    
                                {{else}}
                                    <p class="flow-text noteView">{{notes}}</p>
                                {{/if}}
                            </div>
                        </div>
                        {{#if $eq editHistTags true}}
                            <div class="row">
                                <div class="col s12">
                                    <div class="chips chips-initial tags-placeholder tags-autocomplete input-field white-text taskHistTags" id="{{_id}}">
                                    </div>
                                    <a class="waves-effect waves-light btn saveHistTags">Save Tags</a>
                                </div>
                            </div>
                        {{else}}
                            <div class="row">
                                <div class="col s12">
                                    <label>Tags</label><br>
                                    {{#each histTags}}
                                        <div class="chip blue darken-4 white-text" id="{{_id}}">
                                            <i class="close material-icons removeTag" id="{{tag}}">close</i>
                                            {{tag}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/if}}
                        </div>
                        <div class="card-action">
                            <a href="" class="histNotes">Notes</a>
                            <a href="" class="histTags">Tags</a>
                            <a href="" class="histClient">Client</a>
                            {{#if $eq allowMile true}}
                                <a href="" class="histMileage">Mileage</a>
                            {{/if}}
                            {{#if $eq allowCont true}}
                                <a href="" class="continueTime">Continue</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {{> adjustTimeModal}}
</template>