<template name="deleteConfirmationModal">
    <div id="modalDelete" class="modal">
        <div class="modal-content">
            <h4>Delete Confirmation</h4>
            You are about to permanently delete "{{itemName}}". This action will not remove "{{itemName}}" from tasks it is already on, but will simply remove it as an option for future tasks.  Are you sure?
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6 m6 l6">
                    <a class="modal-close waves-effect waves-light btn left cancelDelete orange">Cancel</a>
                </div>
                <div class="col s6 m6 l6">
                    <a class="waves-effect waves-light btn confirmDelete red right">Delete</a>
                </div>
            </div>
        </div>
    </div>
</template>