<template name="editTags">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <h3>Edit Tags</h3>
                <div class="card-content">
                    <table class="highlight striped responsive-table">
                        <thead>
                            <tr>
                                <th>
                                    Tag
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each tags}}
                                <tr>
                                    <td>{{info}}</td>
                                    <td>
                                        <i class="material-icons editTagName clickable">edit</i>
                                        <i class="material-icons deleteTagName clickable">delete</i>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{> deleteConfirmationModal}}
    {{> editModal}}
</template>