<template name="editClientNames">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <h3>Client Names</h3>
                <div class="card-content">
                    <table class="highlight striped responsive-table">
                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each clients}}
                                <tr>
                                    <td>{{info}}</td>
                                    <td>
                                        <i class="material-icons editClientName clickable">edit</i>
                                        <i class="material-icons deleteClientName clickable">delete</i>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{> deleteConfirmationModal}}
    {{> editModal}}
</template>