<template name="adjustTimeModal">
    <div id="adjustTimeModal" class="modal">
        <div class="modal-content">
            <h4>Adjust Time Manually</h4>
            <h5>{{myTask.client}}</h5>
            <table class="highlight striped responsive-table">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>Start Time</th>
                        <th>End Date</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each myTask.taskTimes}}
                        <tr>
                            <td><input type="text" class="datepicker startDate" value="{{startDate}}" id="startDate_{{id}}"></td>
                            <td><input type="text" class="timepicker startTime" value="{{startTime}}" id="startTime_{{id}}"></td>
                            <td><input type="text" class="datepicker endDate" value="{{endDate}}" id="endDate_{{id}}"></td>
                            <td><input type="text" class="timepicker endTime" value="{{endTime}}" id="endTime_{{id}}"></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-orange btn-flat">Cancel</a>
            <a href="#!" class="waves-effect waves-green btn-flat" id="saveNewDateTime">Save</a>
        </div>
    </div>
</template>