<template name="reports">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                  <span class="card-title">Time by Client</span>
                  <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <select name="clientNameReport" id="clientNameReport">
                            <option value="" disabled selected></option>
                            {{#each clients}}
                                <option value="{{info}}">{{info}}</option>
                            {{/each}}
                        </select>
                        <label for="clientNameReport">Client*</label>
                    </div>
                    <div class="col s12 m6 l6 input-field">
                        <select multiple name="monthOfService" id="monthOfService" class="monthOfService">
                            <option value="" disabled selected></option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <label for="monthOfService">Month of Service</label>
                    </div>
                    <div class="col s12 m6 l6 input-field">
                        <select multiple name="yearOfService" class="yearOfService" id="yearOfService">
                            <option value="" disabled selected></option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                        </select>
                        <label for="yearOfService">Year of Service</label>
                    </div>
                    <div class="col s12 input-field">
                        <input type="text" class="reportName" id="reportName" />
                        <label for="reportName">Report Name*</label>
                    </div>
                    <div class="col s12">
                        <a class="waves-effect waves-light btn" id="runReport1">Run Report</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    {{>snackbar}}
</template>